.pc .content-article[data-v-9b631120] { min-height: calc(100vh - 254px); } 
.mo .content-article[data-v-9b631120] { min-height: calc(100vh - 232px); } 
.wrap_error[data-v-9b631120] { position: absolute; top: 50%; left: 0; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); text-align: center; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; } 
.wrap_error img[data-v-9b631120] { width: 602px; } 
.wrap_error strong[data-v-9b631120] { display: block; margin-top: 60px; font-size: 32px; font-weight: 700; line-height: 46px; letter-spacing: -.8px; color: var(--baseForeground); } 
.wrap_error p[data-v-9b631120] { margin-top: 12px; line-height: 1.71; letter-spacing: -.2px; color: #666; } 
.wrap_error a[data-v-9b631120] { display: inline-block; width: 180px; padding: 13px 0 19px; margin-top: 36px; border-radius: 30px; background: #eee; font-size: 18px; font-weight: 700; line-height: 28px; letter-spacing: -.5px; color: #000; } 
@media screen and (max-width:1023px){
 .pc .content-article[data-v-9b631120] { min-height: calc(100vh - 232px); } 
 }
@media screen and (max-width:767px){
 .wrap_error[data-v-9b631120] { left: 24px; right: 24px; } 
 .wrap_error img[data-v-9b631120] { width: 362px; max-width: 100%; } 
 .wrap_error strong[data-v-9b631120] { margin-top: 49px; font-size: 26px; line-height: 1.38; letter-spacing: -.6px; } 
 .wrap_error a[data-v-9b631120] { width: 150px; padding: 10px 0 14px; border-radius: 25px; font-size: 16px; line-height: 26px; } 
 }
.en .wrap_error a[data-v-9b631120],
.en .wrap_error p[data-v-9b631120],
.en .wrap_error strong[data-v-9b631120] { letter-spacing: 0; } 
@font-face { font-family: KakaoSmall; font-weight: 300; src: local("☺"),url(/page/_nuxt/fonts/1ec4116.woff2) format("woff2"),url(/page/_nuxt/fonts/8ae4712.woff) format("woff"); } 
@font-face { font-family: KakaoSmall; font-weight: 400; src: local("☺"),url(/page/_nuxt/fonts/25e471a.woff2) format("woff2"),url(/page/_nuxt/fonts/fe6f124.woff) format("woff"); } 
@font-face { font-family: KakaoSmall; font-weight: 700; src: local("☺"),url(/page/_nuxt/fonts/690a113.woff2) format("woff2"),url(/page/_nuxt/fonts/4d688e7.woff) format("woff"); } 
@font-face { font-family: KakaoBig; font-weight: 400; src: local("☺"),url(/page/_nuxt/fonts/93b6a9f.woff2) format("woff2"),url(/page/_nuxt/fonts/aaf1e56.woff) format("woff"); } 
@font-face { font-family: KakaoBig; font-weight: 700; src: local("☺"),url(/page/_nuxt/fonts/9034912.woff2) format("woff2"),url(/page/_nuxt/fonts/fcd798c.woff) format("woff"); } 
@font-face { font-family: KakaoBig; font-weight: 800; src: local("☺"),url(/page/_nuxt/fonts/79a1789.woff2) format("woff2"),url(/page/_nuxt/fonts/67f2c54.woff) format("woff"); } 
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul { margin: 0; padding: 0; } 
fieldset,
img { border: 0; } 
dl,
li,
menu,
ol,
ul { list-style: none; } 
blockquote,
q { quotes: none; } 
blockquote:after,
blockquote:before,
q:after,
q:before { content: ""; content: none; } 
button,
input,
select,
textarea { vertical-align: middle; font-size: 100%; } 
button { border: 0; background-color: transparent; cursor: pointer; } 
table { border-collapse: collapse; border-spacing: 0; } 
/* body { -webkit-text-size-adjust: none; } */
input:checked[type=checkbox] { background-color: #666; -webkit-appearance: checkbox; } 
html input[type=button],
input[type=email],
input[type=password],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text] { -webkit-appearance: none; border-radius: 0; } 
input[type=search]::-webkit-search-cancel-button { -webkit-appearance: none; } 
body { background: var(--baseBackground); } 
body,
button,
input,
select,
td,
textarea,
/* th { font-size: 14px; line-height: 1.5; font-family: KakaoSmall,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-weight: 400; color: #333; } */
a { color: #333; } 
a,
a:active,
a:hover { text-decoration: none; } 
address,
caption,
cite,
code,
dfn,
em,
var { font-style: normal; font-weight: 400; } 
.direct-link { position: relative; width: 100%; } 
.direct-link a { position: absolute; top: -999px; padding: 5px 10px; font-weight: 700; color: #fff; background: #333; text-decoration: none; white-space: nowrap; } 
.direct-link a:focus { top: 0; z-index: 10000; } 
.ir_pm { font-size: 0; text-indent: -9999px; font-size: 1px; line-height: 0; color: transparent; } 
.ir_pm,
.ir_wa { display: block; overflow: hidden; } 
.ir_wa { position: relative; z-index: -1; width: 100%; height: 100%; } 
.ir_caption { width: 1px; font-size: 1px; } 
.ir_caption,
.screen_out { overflow: hidden; line-height: 0; text-indent: -9999px; } 
.screen_out { position: absolute; width: 0; height: 0; } 
.caption_hide { overflow: hidden; width: 1px; height: 0.1px; font-size: 0; line-height: 0; text-indent: -9999px; } 
body { overflow-x: hidden; overflow-y: scroll; word-break: keep-all; word-wrap: break-word; } 
svg { vertical-align: top; } 
.content-article { position: relative; max-width: 1296px; margin: 0 auto; padding-bottom: 182px; } 
.tit_main { padding-top: 96px; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 46px; line-height: 66px; color: var(--baseForeground); letter-spacing: -1px; background: url("/page/ico_title_test2.gif") no-repeat 0 94px; background-size: 72px 72px; } 
.tit_main .emph_tit { display: block; padding-left: 84px; font-weight: 700; } 
.tit_main:not(.tit_home) .txt_tit { display: block; margin-top: 22px; font-weight: 400; font-size: 36px; line-height: 36px; } 
.tit_main .badge_update { margin-left: 8px; } 
.tit_sub { font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 36px; line-height: 52px; color: var(--baseForeground); } 
.tit_sub+.wrap_tabs { margin-top: 48px; } 
.feature_card { padding: 96px 0 180px; } 
.feature_card .item_card .tit_card { height: 80px; font-size: 30px; line-height: 40px; } 
.feature_card .item_card.card_full { height: 530px; } 
.feature_card .slick-slider .slick-slide > div > div { vertical-align: top; } 
.feature_mo { display: none; } 
.feature_card.feature_empty { padding-bottom: 0; } 
.list_card+.paging_comm { margin-top: 84px; } 
.content-detail .area_cont .wrap_cont img { width: 100%; height: auto; vertical-align: top; } 
.content-detail .area_cont .wrap_cont strong { font-size: 36px; line-height: 1.44; } 
.content-detail .area_cont .wrap_cont em,
.content-detail .area_cont .wrap_cont strong { overflow: hidden; display: block; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-weight: 700; letter-spacing: -.8px; color: var(--baseForeground); } 
.content-detail .area_cont .wrap_cont em { font-size: 30px; line-height: 1.38; } 
.content-detail .area_cont .wrap_cont font,
.content-detail .area_cont .wrap_cont p,
.content-detail .area_cont .wrap_cont span { overflow: hidden; font-family: KakaoSmall,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif!important; font-size: 16px!important; line-height: 1.75!important; letter-spacing: -.5px!important; color: #666!important; text-align: left!important; } 
.dark .content-detail .area_cont .wrap_cont a,
.dark .content-detail .area_cont .wrap_cont font,
.dark .content-detail .area_cont .wrap_cont p,
.dark .content-detail .area_cont .wrap_cont span { color: #a8a8a8!important; } 
.content-detail .area_cont .wrap_cont figure { margin: 72px 0; } 
.content-detail .area_cont .wrap_cont figure:first-child { margin-top: 0; } 
.content-detail .area_cont .wrap_cont figure:last-child { margin-bottom: 0; } 
.content-detail .area_cont .wrap_cont figure figcaption { display: block!important; } 
.content-detail .area_cont .wrap_cont img+figcaption { margin-top: 24px; font-size: 13px; letter-spacing: -.2px; text-align: center; color: var(--colorFg9); } 
.content-detail .area_cont .wrap_cont p+em,
.content-detail .area_cont .wrap_cont strong+p { margin-top: 72px; } 
.content-detail .area_cont .wrap_cont strong+em { margin-top: 84px; } 
.content-detail .area_cont .wrap_cont em > p:first-child,
.content-detail .area_cont .wrap_cont em+figure,
.content-detail .area_cont .wrap_cont em+p { margin-top: 24px; } 
.feature_card .slick-slider .slick-list { margin: -34px -36px -116px; padding: 34px 36px 66px; } 
.feature_card .slick-slider { margin-bottom: 50px; } 
.feature_card .slick-slider.slick_type2 { margin-bottom: 116px; } 
.slick-slide:not(.slick-active) .item_card { box-shadow: none; } 


.ico_search_bold .stroke[data-v-4267c0f5] { stroke: var(--baseBackground); } 
.wrap_tag[data-v-df070f3a] { font-size: 0; } 
.wrap_tag .link_tag[data-v-df070f3a] { display: inline-block; overflow: hidden; max-width: 100%; height: 34px; margin-right: 6px; padding: 0 15px; border-radius: 34px; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 13px; line-height: 34px; color: var(--baseForeground); background-color: var(--colorBg1); vertical-align: top; letter-spacing: -.5px; white-space: nowrap; text-overflow: ellipsis; } 

.pc .wrap_tag .link_tag[data-v-df070f3a]:hover,
.wrap_tag .link_tag[data-v-df070f3a]:active { background-color: var(--colorBg13); } 
.ico_share .fill[data-v-f9455140] { fill: #bbb; } 
.ico_more { stroke: var(--baseForeground); } 
.wrap_link .info_download .ico_more { stroke: var(--baseBackground); } 
.ico_share_kakao circle[data-v-2f45413c] { fill: var(--colorBg1); } 
.ico_share_kakao .fill[data-v-2f45413c] { fill: var(--colorFg1); } 
.ico_share_kakao:active circle[data-v-2f45413c],
.pc .ico_share_kakao:hover circle[data-v-2f45413c] { fill: var(--colorBg14); } 
.ico_share_kakao:active .fill[data-v-2f45413c],
.pc .ico_share_kakao:hover .fill[data-v-2f45413c] { fill: var(--colorFg21); } 
.ico_share_facebook circle[data-v-749928aa] { fill: var(--colorBg1); } 
.ico_share_facebook .fill[data-v-749928aa] { fill: var(--colorFg1); } 
.ico_share_facebook:active circle[data-v-749928aa],
.pc .ico_share_facebook:hover circle[data-v-749928aa] { fill: var(--colorBg14); } 
.ico_share_facebook:active .fill[data-v-749928aa],
.pc .ico_share_facebook:hover .fill[data-v-749928aa] { fill: var(--colorFg21); } 
.ico_share_twitter circle[data-v-721acde5] { fill: var(--colorBg1); } 
.ico_share_twitter .fill[data-v-721acde5] { fill: var(--colorFg1); } 
.ico_share_twitter:active circle[data-v-721acde5],
.pc .ico_share_twitter:hover circle[data-v-721acde5] { fill: var(--colorBg14); } 
.ico_share_twitter:active .fill[data-v-721acde5],
.pc .ico_share_twitter:hover .fill[data-v-721acde5] { fill: var(--colorFg21); } 
.ico_share_link circle[data-v-baecd16e] { fill: var(--colorBg1); } 
.ico_share_link .stroke[data-v-baecd16e] { stroke: var(--colorFg1); } 
.ico_share_link:active circle[data-v-baecd16e],
.pc .ico_share_link:hover circle[data-v-baecd16e] { fill: var(--colorBg14); } 
.ico_share_link:active .stroke[data-v-baecd16e],
.pc .ico_share_link:hover .stroke[data-v-baecd16e] { stroke: var(--colorFg21); } 
.list_share li[data-v-2bb26b20] { display: inline-block; } 
.list_share li+li[data-v-2bb26b20] { margin-left: 6px; } 
.list_share .btn_share [class^=ico_][data-v-2bb26b20] { display: block; width: 36px; height: 36px; } 
.layer_share[data-v-2bb26b20] { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 30; opacity: 1; border-radius: 12px; background-color: rgba(0,0,0,.55); } 
.layer_share .list_layer[data-v-2bb26b20] { overflow: hidden; position: absolute; top: 66px; right: 10px; } 
.layer_share .list_layer li[data-v-2bb26b20] { -webkit-transform: translate(0); transform: translate(0); } 
.layer_share .list_layer li+li[data-v-2bb26b20] { margin-top: 12px; } 
.layer_share .list_layer .btn_layer[data-v-2bb26b20] { display: block; overflow: hidden; } 
.layer_share .list_layer .btn_layer [class^=ico_][data-v-2bb26b20] { display: block; width: 36px; height: 36px; } 
.layer_share .type_fix[data-v-2bb26b20] { top: 50%; left: 0; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); text-align: center; } 
.layer_share .type_fix li[data-v-2bb26b20] { display: inline-block; } 
.layer_share .type_fix li+li[data-v-2bb26b20] { margin: 0 0 0 12px; } 
.layer_share .btn_close[data-v-2bb26b20] { display: block; overflow: hidden; position: absolute; top: 30px; right: 16px; width: 24px; height: 24px; font-size: 0; line-height: 0; text-indent: -9999px; } 
.layer_share .btn_close .ico_close[data-v-2bb26b20] { display: block; } 
.open-layer-enter-active[data-v-2bb26b20],
.open-layer-leave-active[data-v-2bb26b20] { -webkit-transition: opacity 0.3s; transition: opacity 0.3s; } 
.open-layer-enter-active .list_layer li[data-v-2bb26b20],
.open-layer-leave-active .list_layer li[data-v-2bb26b20] { -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s,-webkit-transform 0.3s; } 
.open-layer-enter[data-v-2bb26b20],
.open-layer-leave-to[data-v-2bb26b20] { opacity: 0; } 
.open-layer-enter .list_layer li[data-v-2bb26b20]:nth-child(2),
.open-layer-leave-to .list_layer li[data-v-2bb26b20]:nth-child(2) { -webkit-transform: translateY(-48px); transform: translateY(-48px); } 
.open-layer-enter .list_layer li[data-v-2bb26b20]:nth-child(3),
.open-layer-leave-to .list_layer li[data-v-2bb26b20]:nth-child(3) { -webkit-transform: translateY(-96px); transform: translateY(-96px); } 
.open-layer-enter .list_layer li[data-v-2bb26b20]:nth-child(4),
.open-layer-leave-to .list_layer li[data-v-2bb26b20]:nth-child(4) { -webkit-transform: translateY(-144px); transform: translateY(-144px); } 
.open-layer-enter .list_layer.type_fix li[data-v-2bb26b20]:nth-child(2),
.open-layer-leave-to .list_layer.type_fix li[data-v-2bb26b20]:nth-child(2) { -webkit-transform: translateX(-48px); transform: translateX(-48px); } 
.open-layer-enter .list_layer.type_fix li[data-v-2bb26b20]:nth-child(3),
.open-layer-leave-to .list_layer.type_fix li[data-v-2bb26b20]:nth-child(3) { -webkit-transform: translateX(-96px); transform: translateX(-96px); } 
.open-layer-enter .list_layer.type_fix li[data-v-2bb26b20]:nth-child(4),
.open-layer-leave-to .list_layer.type_fix li[data-v-2bb26b20]:nth-child(4) { -webkit-transform: translateX(-144px); transform: translateX(-144px); } 
.dark .item_card .info_cate .txt_cate:before { background-image: url("data:image/svg+xml; charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23444' fill-rule='evenodd'/%3E%3C/svg%3E"); } 
.item_card { overflow: hidden; position: relative; width: 297px; margin-top: 36px; border-radius: 14px; background-color: var(--colorBg10); box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09); } 
.item_card:nth-child(-n+2) { margin-top: 0; } 
.item_card:hover { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-transform: translateY(-5px); transform: translateY(-5px); -ms-transform: translateY(-5px); box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18); } 
.item_card .wrap_thumb { display: block; height: 223px; margin-top: 60px; } 
.item_card .wrap_thumb .thumb_img { display: block; width: 100%; min-height: 100%; } 
.item_card .img_app { position: absolute; right: 20px; bottom: 20px; width: auto; height: 84px; } 
.item_card .wrap_cont { display: block; position: relative; padding: 25px 24px 0; box-sizing: border-box; } 
.item_card .wrap_cont .link_item { display: block; margin: 0 -24px; } 
.item_card .wrap_cont .ico_outlink_circle { display: block; overflow: hidden; position: absolute; bottom: 20px; right: 20px; width: 28px; height: 28px; font-size: 0; line-height: 0; } 
.item_card .wrap_download { position: absolute; top: 132px; left: 24px; margin-top: 15px; vertical-align: top; } 
.item_card .wrap_download .btn_down { display: block; min-width: 123px; height: 34px; padding: 0 16px 0 45px; border-radius: 34px; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 13px; line-height: 34px; background: #fae100 url("/page/ico_kakaotalk.png") no-repeat 16px 8px; background-size: 21px 20px; letter-spacing: -.5px; box-sizing: border-box; } 
.item_card .wrap_download .btn_down .ico_more { display: inline-block; width: 10px; height: 10px; margin: 12px 0 0 4px; vertical-align: top; -webkit-transform: rotate(90deg); transform: rotate(90deg); } 
.item_card .wrap_download .list_download { position: absolute; top: 40px; left: 0; right: 0; padding: 4px 12px 14px; border: 1px solid #eee; border-radius: 10px; background-color: #fff; } 
.item_card .wrap_download .list_download li { margin-top: 10px; } 
.item_card .wrap_download .list_download .link_download { display: block; font-weight: 700; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 13px; line-height: 19px; color: #000; } 
.item_card .wrap_download .list_download .link_download:hover { text-decoration: underline; } 
.item_card .info_cate { display: block; height: 36px; margin-top: -1px; padding-right: 20px; font-size: 0; } 
.item_card .info_cate .ico_cate { display: inline-block; margin-right: 8px; vertical-align: top; } 
.item_card .info_cate .txt_cate { display: inline-block; position: relative; height: 34px; margin-top: 1px; padding: 0 13px; border-radius: 13px; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 13px; line-height: 34px; color: var(--baseForeground); background-color: var(--colorBg5); vertical-align: top; } 
.item_card .info_cate .txt_cate:before { position: absolute; top: 0; left: -4px; width: 16px; height: 16px; background: url("data:image/svg+xml; charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23eee' fill-rule='evenodd'/%3E%3C/svg%3E"); content: ""; } 
.item_card .info_cate .dot_new { display: inline-block; min-width: 6px; width: 6px; height: 6px; margin-left: 3px; border-radius: 8px; line-height: 0; background-color: #ff5737; vertical-align: top; text-indent: -9999px; } 
.item_card .tit_card { display: block; display: -webkit-box; overflow: hidden; height: 64px; margin-top: 13px; padding: 0 24px; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 22px; line-height: 32px; color: var(--baseForeground); -webkit-box-orient: vertical; -webkit-line-clamp: 2; } 
.item_card .tit_card:only-child { margin-bottom: 60px; } 
.item_card .info_card { overflow: hidden; position: absolute; top: 143px; left: 0; right: 84px; height: 19px; margin-top: 18px; padding-left: 24px; font-weight: 300; font-size: 13px; line-height: 19px; color: var(--colorFg25); } 
.item_card .info_card .txt_keyword { display: inline-block; margin-right: 3px; vertical-align: top; } 
.item_card .info_card .txt_keyword:only-child { display: block; overflow: hidden; margin: 0; text-overflow: ellipsis; } 
.item_card .btn_share { display: block; overflow: hidden; position: absolute; top: 30px; right: 14px; z-index: 20; width: 24px; height: 24px; font-size: 0; line-height: 0; text-indent: -9999px; } 
.item_card .btn_share .ico_share { display: block; width: 20px; height: 20px; margin: 0 auto; } 
.item_card.card_full { position: relative; height: 420px; background: no-repeat 50% 50%; background-size: cover; } 
.item_card.card_full:before { position: absolute; top: 0; left: 0; width: 100%; height: 228px; background-image: -webkit-linear-gradient(top,rgba(0,0,0,.8),transparent); background-image: linear-gradient(180deg,rgba(0,0,0,.8),transparent); content: ""; } 
.item_card.card_full .cont_full { display: block; position: relative; z-index: 10; height: 100%; } 
.item_card.card_full .cont_full .info_card { color: hsla(0,0%,100%,.5); } 
.item_card.card_full .wrap_cont { position: absolute; top: 0; left: 0; right: 0; } 
.item_card.card_full .tit_card { color: #fff; } 
.item_card.card_news .wrap_cont { height: auto; min-height: 134px; padding: 25px; } 
.item_card.card_half .wrap_cont { height: 192px; } 
.item_card.card_half .tit_card { max-height: 56px; padding: 0; font-size: 18px; line-height: 28px; } 
.item_card.card_half .info_card { top: 134px; margin-top: 21px; } 
.item_card.item_customer .tit_card { display: inline-block; overflow: visible; position: relative; height: auto; margin-top: 13px; padding: 8px 20px 8px 25px; border-radius: 15px; font-size: 16px; line-height: 26px; color: #000; background-color: #fee102; -webkit-box-orient: initial; -webkit-line-clamp: initial; } 
.item_card.item_customer .tit_card:before { position: absolute; top: 0; left: -5px; width: 18px; height: 18px; background: url("data:image/svg+xml; charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23fee102' fill-rule='evenodd'/%3E%3C/svg%3E"); content: ""; } 
.item_card.item_stock .tit_card { display: block; max-height: none; margin-top: 18px; font-weight: 400; font-family: KakaoSmall,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 40px; line-height: 59px; letter-spacing: -1px; } 
.item_card.item_stock .num_tit { display: inline-block; margin-right: 10px; vertical-align: top; } 
.item_card.item_stock .num_info { display: inline-block; margin-top: 20px; font-weight: 700; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; font-size: 14px; line-height: 20px; vertical-align: top; letter-spacing: 0; } 
.item_card.item_stock .num_info .info_arr { display: inline-block; overflow: hidden; width: 8px; margin: 9px 4px 0 0; border-top: 3px solid var(--baseForeground); font-size: 0; line-height: 0; text-indent: -9999px; vertical-align: top; } 
.item_card.item_stock .num_info.up { color: #ff3b3b; } 
.item_card.item_stock .num_info.up .info_arr { width: auto; margin-top: 6px; border-color: currentcolor transparent #ff3b3b; border-style: none solid solid; border-width: 0 4px 7px; } 
.item_card.item_stock .num_info.down { color: #2879ff; } 
.item_card.item_stock .num_info.down .info_arr { width: auto; margin-top: 8px; border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 7px solid #2879ff; } 
.item_card.item_stock .info_card { top: 146px; margin: 12px 0 0; } 
.item_card .list_cs { margin: 12px -24px 0; font-size: 0; text-align: center; } 
.item_card .list_cs li { display: inline-block; margin: 0 4px; } 
.item_card .list_cs .link_cs { height: 42px; padding: 0 20px; border-radius: 15px; font-size: 16px; line-height: 42px; color: var(--colorFg12); background-color: var(--colorBg6); } 
.cont_resposible,
.item_card .list_cs .link_cs { display: block; font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif; } 
.cont_resposible { padding: 24px; font-weight: 700; color: #000; } 
.cont_resposible .tit_responsible { display: block; font-size: 14px; line-height: 20px; letter-spacing: -.2px; opacity: 0.5; } 
.cont_resposible .txt_responsible { display: block; margin-top: 14px; font-size: 30px; line-height: 1.33; letter-spacing: -.6px; } 


.list_card { position: relative; left: 100px; top: 0; margin: 0 -18px; font-size: 0; text-align: left; } 
.list_card > li { display: inline-block; margin-top: 36px; padding: 0 30px; vertical-align: top; box-sizing: border-box; } 
.list_card .item_card { margin-top: 0; } 
.list_card .item_card .info_card { margin-top: 24px; } 
.list_card.list_card_type2 .item_card { width: 408px; } 
.list_card.list_card_type2 .item_card .wrap_thumb { height: 306px; margin-top: 71px; } 
.list_card.list_card_type2 .item_card .tit_card { height: 80px; font-size: 30px; line-height: 40px; } 
.list_card.list_card_type2 .item_card .tit_card:only-child { margin-bottom: 71px; } 
.list_card.list_card_type2 .item_card .info_card { top: 156px; height: 20px; font-size: 14px; line-height: 20px; } 
.list_card.list_card_type2 .item_card.card_full { height: 530px; } 
.list_card.list_card_type2 .item_card .wrap_download { top: 154px; } 
.wrap_tabs+.list_card { padding-top: 12px; } 


